/* ----------- BOTH -----------*/
.name{
  font-size: 30px;
}

/* ----------- DESKTOP -----------*/
@media (min-width: 768px){
    .burger{
      display: none;
    }

    .active{
      color: var(--darkred) !important;
    }
    
    .header{
      display: flex;
      color: white;
      background-color: black;
      align-items: center;
      padding: 5px 10px;
      position: sticky;
      top: 0;
      width: 100%;
      justify-content: space-between;
      border-bottom: 1px solid gray;
    }
  
    .menu{
      font-weight: bold;
      display: flex;
      gap: 20px;
      font-size: 20px;
      flex-wrap: wrap;
     }

     .nav-link{
      text-decoration: none;
      color: white;
      transition: all .25s ease;
    }

    .nav-link:hover{
      opacity: .7;
    }
  }
  
  /* ----------- MOBILE -----------*/
  @media (max-width: 767px){
    .header{
      display: flex;
      justify-content: space-between;
      color: white;
      background-color: black;
      align-items: center;
      padding: 5px 10px;
      position: sticky;
      top: 0;
      width: 100%;
      box-sizing: border-box;
      height: 55px;
      border-bottom: 1px solid gray;
    }

    .active{
      color: var(--darkred) !important;
    }
  
    .menu{
      font-weight: bold;
      display: flex;
      flex-flow: column nowrap;
      gap: 20px;
      position: fixed;
      top: 0;
      left: 0;
      background-color: black;
      width: 100vw;
      height: 100vh;
      padding: 36px 0 0 36px; 
      z-index: 1;
     }
  
     .menu.visible {
      transform: translateX(0%);
      transition: ease-out .25s;
     }
  
     .menu.hidden{
      transform: translateX(-100%);
      transition: ease-out .25s;
     }
  
    .burger{
      height: 2rem;
      width: 2rem;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-around;
      z-index: 2;
    }
  
    .burger-bar{
      width: 2rem;
      height: 0.25rem;
      background-color: white;
      border-radius: 10px;
      transform-origin: left center;
    }
    
    .nav-link{
      text-decoration: none;
      color: white;
    }

    /* ----- animations--------- */
  /* open */
  .burger-bar.open:nth-child(1){
      transform: rotate(45deg) translate(-2px, -1px);
      transition: ease-out 0.5s;
  }
  
  .burger-bar.open:nth-child(2){
      opacity: 0;
      transition: ease-out 0.5s;
  }
  
  .burger-bar.open:nth-child(3){
      transform: rotate(-45deg) translate(0, -1px);
      transition: ease-out 0.5s;
  }
  
  /* closed */
  .burger-bar.closed {
      transform: rotate(0) translate(0);
      transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
  }
  }
  